body{
    background: url("../img/fondo1.jpg") no-repeat fixed;
    background-size: cover;
    background-origin: padding-box;
    color: white;
    font-family: "Comic Sans MS";
}
#nav{
    position: relative;
    font-family: ciencia;
    height: 90px;
    background: rgb(220,0,5);
    background: linear-gradient(90deg, rgba(220,0,5,1) 0%, rgba(255,0,0,0.08445384989933469) 50%, rgba(2,0,36,1) 100%, rgba(9,17,121,0.006022477350315136) 100%);
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 0;
}


#nav ul{
    list-style: none;
    display: inline-block;
    font-size: x-large;
}
p {
    font-family: ciencia;
}
#nav ul li{
    float: left;

    padding-bottom: 4%;
}

#nav ul li a {
    color: darkgoldenrod;

    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}

#nav ul li a:hover{
    background-color: #C70039;
    color: darkgoldenrod;
    transition: width 1s, height 4s;
    transition-duration: 2s;
}
h1{
    text-align: center;
    font-size: x-large;
}
h2{
    text-align: center;
    font-size: x-large;
}
.flex-container .flex-item h1{
    text-align: center;

}


#Introduccion{
    position: relative;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
#Director{
    position: relative;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2% 5% 2%;
    background-color: #939393;
    color: white;

}


.flex-item{
    position: relative;
    width: 34%;
    text-align: center;
    margin: 3%;
    padding-left:5%;
    padding-right: 5%;
    padding-bottom: 5%;
    color: white;

}

.flex-item p {
    padding-top: 5%;
    font-size: x-large;
}
.flex-container{


    flex-direction: row;
    display: inline-flex;
    flex-grow: 2;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap

}


table{
    position: relative;
    text-align: center;
    margin-left: 10%;

    border-color: darkred;
    background-color: #939393;
    color: black;
}

tr{
    border-color: darkred;

}
td{
    border-color: darkred;

}
th{
    border-color: darkred;

}

form{
    position: relative;
    text-align: center;

    margin-left: 20%;
    margin-right: 20%;

    background-color: #939393;
    color: black;

}

enlace{
    background-color: azure;
position: absolute;
    text-align: center;
    right: 35%;
    left: 35%;
}


ventor{
    position: relative;
    text-align: center;
    height: 70%;
    width: 100%;
    
    background-color: #939393;
    color: black;

}
#Duncan:hover{
    transition: width 2s, height 4s;
    width: 300px;
    height: 300px;
}
#Travis:hover{
    transition: width 2s, height 4s;
    width: 300px;
    height: 300px;
}
#Anduin:hover{
    transition: width 2s, height 4s;
    width: 300px;
    height: 300px;
}
#toby:hover{
    transition: width 2s, height 4s;
    width: 300px;
    height: 300px;
}
#Durotan:hover{
    transition: width 2s, height 4s;
    width: 300px;
    height: 300px;
}
#Paula:hover{
    transition: width 2s, height 4s;
    width: 300px;
    height: 300px;
}
#Garona:hover{
    transition: width 2s, height 4s;
    width: 300px;
    height: 300px;
}
#Ben:hover{
    transition: width 2s, height 4s;
    width: 300px;
    height: 300px;
}
#Medivh:hover{
    transition: width 2s, height 4s;
    width: 300px;
    height: 300px;
}
#Daniel:hover{
    transition: width 2s, height 4s;
    width: 300px;
    height: 300px;
}
#Guldan:hover{
    transition: width 2s, height 4s;
    width: 300px;
    height: 300px;
}
#Clancy:hover{
    transition: width 2s, height 4s;
    width: 300px;
    height: 300px;
}
#Blackhand:hover{
    transition: width 2s, height 4s;
    width: 300px;
    height: 300px;
}
